// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

body {
  overflow-x: hidden;
}

p {
  line-height: 1.75;
}

a {
  color: $color-main;
}

a:hover {
  color: $color-main-hover;
}

.text-primary {
  color: $color-main !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fonts;
  letter-spacing: 0.5px;
  //   font-weight: 400;
}

section {
  padding-top: 50px;
  h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  section {
    padding: 100px 0;
  }
}

.container-fluid {
  width: 100%;
  padding: 0 2rem !important;
  max-width: 1480px;
}

.btn {
  font-family: $fonts;
  letter-spacing: 0.2rem;
}

.btn-xl {
  padding: 20px 40px;
}

.btn-primary {
  background-color: $color-main;
  border-color: $color-main;

  &:active,
  &:focus,
  &:hover {
    background-color: $color-main-hover !important;
    border-color: $color-main-hover !important;
    color: white;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  }
}

::-moz-selection {
  background: $color-main;
  text-shadow: none;
}

::selection {
  background: $color-main;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

#login {
  background-image: url($image-bg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 75%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mainNav {
  font-family: $fonts;
  background-color: transparent;

  &.navbar-shrink {
    background-color: $white;
  }

  .navbar-toggler {
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: $white;
    border: 0;
    background-color: $color-main;
  }

  .navbar-brand {
    color: $color-main;

    img {
      display: none;
      width: 170px;
    }

    &.active,
    &:active,
    &:focus,
    &:hover {
      color: $color-main-hover;
    }
  }

  .navbar-nav .nav-item {
	// background-color: $white !important;
    &.active,
    &:hover {
      border-bottom: 1px solid $purple;
    }
    .nav-link {
      padding: 0.75em 0;
      letter-spacing: 0.2rem;
      color: $color-main;
    }

  }
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  
    .navbar-brand {
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    
    .navbar-nav .nav-item .nav-link {
      padding: 1.1em 1em !important;
    }
    
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $white;

      & .navbar-nav .nav-item .nav-link {
        color: $blue;
      }
    }

    &.navbar-shrink .navbar-brand {
      padding: 12px 0;
    }
  }  
}

header.masthead {
  height: 100vh;
  color: white;
  background-image: url("https://images.unsplash.com/photo-1500916570864-68c2647382b6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd590c5475d25dcffd82353e81ae548d&auto=format&fit=crop&w=1950&q=80");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center 75%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &.jumbotron {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background-color: transparent;
  }
}
header.masthead .layer {
  background-color: $black;
  transform: translateY(-100%) translateY(7rem);
  filter: blur(5px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px);
}

// header.masthead .intro-text {
// //   padding-top: 50px;
// //   padding-bottom: 100px;

//   img#front-logotype {
//     // width: 200px;
//   }

//   h2 {

//   }
// }

// header.masthead .intro-text .intro-lead-in {

//   //   font-style: italic;
//   //   line-height: 22px;
// //   margin-bottom: 25px;
// }

// header.masthead .intro-text .intro-heading {

//   //   font-weight: 700;
//   //   line-height: 50px;
// //   margin-bottom: 25px;
// }

// @media (min-width: 768px) {
//   header.masthead .intro-text {
//     // padding-top: 100px;
// 	// padding-bottom: 200px;
//   }
//   header.masthead .intro-text .intro-lead-in {

//     // font-style: italic;
//     // line-height: 40px;
//     // margin-bottom: 25px;
//   }
//   header.masthead .intro-text .intro-heading {

//     // font-weight: 700;
//     // line-height: 75px;
//     // margin-bottom: 50px;
//   }
// }

#intro {
  // margin-top: 5rem;
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.contact-heading {
  margin: 5px 0;
  text-transform: none;
}

.contact-info {
  margin-top: 1rem;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: $color-main-hover;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}

#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  i {
  margin-top: -12px;
}

#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  h3,
#portfolio
  .portfolio-item
  .portfolio-link
  .portfolio-hover
  .portfolio-hover-content
  h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px 0px;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-style: italic;
  margin: 0;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

#map,
#wpgmza_map {
  padding: 0;
  margin: 0;
  height: 200vh;
}
